import Cmb{{properCase name}} from '../src/{{name}}.vue'
 
export default {
  title:'Cmb{{properCase name}}',
  component:Cmb{{properCase name}}
}
 
export const {{properCase name}} = () => ({
  components: { 
    Cmb{{properCase name}}
  },
  template: '<div>
    <cmb-{{name}}></cmb-{{name}}>  
  </div>'
})